{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row gap-2">
    {% for task in tasks %}
    <div class="card col-sm-4 text-bg-light mb-3" style="max-width: 20rem">
      <div class="card-header">
        {% for ctgry in task.category.all %}
        <span class="badge bg-primary">{{ctgry.categoryName}}</span>
        {% endfor %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{task.taskTitle}}</h5>
        <p class="card-text">{{task.taskDescription}}</p>
        <small>
          <i class="float-end"> <b>Assigned:</b> {{task.taskAssigned}}</i>
        </small>
      </div>

      {% if task.is_completed %}
      <div
        class="card-footer bg-transparent border-dark d-flex justify-content-end gap-2"
      >
        <span class="btn btn-success">Completed</span>
      </div>

      {% else %}
      <div
        class="card-footer bg-transparent border-dark d-flex justify-content-end gap-2"
      >
        <a href="#" class="btn btn-warning">Edit</a>
        <a href="{% url "delete_task" task.id %}" class="btn btn-danger">Delete</a>
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
